body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif, sans-serif ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.navbar nav{
    display: flex;
     gap: 5px;
       
}
.navbar nav a{
    text-decoration: none;
}
.signup-nav{
 background: linear-gradient(135deg,rgb(190, 51, 172),rgb(245, 86, 166));
 padding: 5px;
 border-radius: 5px;
}
.sig-in{
    display: flex;
   gap: 20px;
    margin: 40px;
    height: 100%;
    
    align-items: center;
       justify-content: center;

}
.form{
    background-color: rgb(206, 206, 206);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 5px  0.2px rgb(83, 0, 78);
   
}
.form input{
    padding: 7px;
    border-radius: 10px;
    border:1px solid rgb(195, 195, 195);
    margin: 5px;
    width: 100%;
}
.form button{
    color: white;
    background: linear-gradient(135deg,rgb(190, 51, 172),rgb(245, 86, 166),rgb(40, 145, 249));
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 7px;
}